.Person{
    margin: 1rem;
    padding: 1rem;
    background-color: lightgray;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
  }


.flex-row-start{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.nameTxt{
  font-size: 1.5rem;
  font-weight: 700;
  flex-grow: 1;
}